#jinja2: trim_blocks:"True",lstrip_blocks:"True"
apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: {{ workers | default('2') }}
{% if worker_spec is defined %}
  platform:
    vsphere:
{%   if worker_spec.cpus is defined %}
      cpus: {{ worker_spec.cpus }}
{%   endif %}
{%   if worker_spec.memoryMB is defined %}
      memoryMB: {{ worker_spec.memoryMB }}
{%   endif %}
{%   if worker_spec.diskSizeGB is defined %}
      osDisk:
        diskSizeGB: {{ worker_spec.diskSizeGB }}
{%   endif %}
{% else %}
  platform: {}
{% endif %}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
{% if single_master %}
  replicas: 1
{% else %}
  replicas: 3
{% endif %}
{% if master_spec is defined %}
  platform:
    vsphere:
{%  if master_spec.cpus is defined %}
      cpus: {{ master_spec.cpus }}
{%  endif %}
{%  if master_spec.memoryMB is defined %}
      memoryMB: {{ master_spec.memoryMB }}
{%  endif %}
{%  if master_spec.diskSizeGB is defined %}
      osDisk:
        diskSizeGB: {{ master_spec.diskSizeGB }}
{%  endif %}
{% else %}
  platform: {}
{% endif %}
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ pod_cidr }}
    hostPrefix: 23
{% if machine_cidr|length > 1 %}
  machineNetwork:
  - cidr: {{ machine_cidr }}
{% endif %}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ service_cidr }}
{% if proxy_http|length > 1 %}
proxy:
  httpProxy: http://{{ proxy_http }}
  httpsProxy: http://{{ proxy_http }}
  noProxy: {{ no_proxy_http }}
{% endif %}
platform:
  vsphere:
    apiVIP: {{ api_ip }}
    ingressVIP: {{ apps_ip }}
    vCenter: {{ vcenter_hostname }}
    username: {{ vcenter_username }}
    password: {{ vcenter_password }}
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    defaultDatastore: {{ vcenter_datastore }}
    network: {{ vcenter_network }}
{% if vcenter_folder|length > 0 %}
    folder: {{ vcenter_folder }}
{% endif %}
{% if vcenter_resource_pool|length > 0 %}
    resourcePool: {{ vcenter_resource_pool }}
{% endif %}
publish: External
pullSecret: '{{ lookup('file',pull_secret_file) | to_json | from_json }}'
sshKey: |
  {{ ssh_pub_key }}
{% if proxy_cert|length != 0 or local_registry_cert|length != 0 %}
additionalTrustBundle: |
{%  if proxy_cert|length != 0 %}
  {{ lookup('file', playbook_dir + '/files/' + proxy_cert, errors='warn') | indent(width=2,first=false) }}
{%  endif %}
{%  if local_registry_cert|length != 0  %}
  {{ lookup('file', playbook_dir + '/files/' + local_registry_cert, errors='warn') | indent(width=2,first=false) }}
{%  endif %}
{% endif %}
{% if local_registry_sources is defined %}
{{ local_registry_sources }}
{% endif %}
